kivy==2.1.0
https://github.com/kivymd/KivyMD/archive/refs/heads/master.zip
requests
pillow
charset_normalizer
chardet
idna
urllib3
certifi
kivymd_extensions
kivymd_extensions.akivymd
kivmob
soupsieve
beautifulsoup4
bs4
kivy_garden.frostedglass
